button.large {
  min-width: 48px;
  min-height: 48px;
}

.main-box {
  padding: 12px;
}

.song-title {
  font-size: 300%;
  font-weight: 600;
}

picture.album-art {
  min-width: 128px;
  min-height: 128px;
  box-shadow: 0px 12px 16px -12px rgba(0,0,0,0.6);
  border-radius: 6px;
}

queuerow {
  padding: 6px;
  border-spacing: 21px;
}

queuerow label.song-title {
  font-weight: 700;
  font-size: 100%;
}

dragoverlay {
  box-shadow: none;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}

window.main-window {
  background: linear-gradient(127deg, alpha(@background_color_1, 0.65), @background_color_1 66%),
              linear-gradient(217deg, alpha(@background_color_4, 0.65), @background_color_4 66%),
              /* background_color_2 is used to determine foreground_color */
              linear-gradient(336deg, alpha(@background_color_2, 0.65), @background_color_2 66%);
  color: @foreground_color;
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
