button.large {
  min-width: 48px;
  min-height: 48px;
}

.main-box {
  padding: 6px;
}

.song-title {
  /* match title-1 */
  font-size: 15pt;
  font-weight: 800;
}

picture.cover {
  min-width: 128px;
  min-height: 128px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5),
              0px 2px 8px rgba(0,0,0,0.3);
  border-radius: 6px;
  margin: 6px;
}

.main-window picture.cover {
  background: linear-gradient(to bottom, @background_color_1, @background_color_2);
}

songdetails image.no-cover {
  min-width: 128px;
  min-height: 128px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5),
              0px 2px 8px rgba(0,0,0,0.3);
  border-radius: 6px;
  margin: 6px;
}

queuerow {
  padding: 6px;
  border-spacing: 21px;
}

queuerow label.song-title {
  font-weight: 700;
  font-size: 85%;
}

queuerow label.song-artist {
  font-size: 85%;
}

dragoverlay {
  box-shadow: none;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}

scrolledwindow undershoot.top {
  box-shadow: inset 0 1px @borders;
}

window.main-window {
  background: linear-gradient(127deg, alpha(@background_color_1, 0.70), @background_color_1 70.1%),
              linear-gradient(217deg, alpha(@background_color_3, 0.70), @background_color_3 70.1%),
              /* background_color_2 is used to determine foreground_color */
              linear-gradient(336deg, alpha(@background_color_2, 0.70), @background_color_2 70.1%);
  color: @foreground_color;
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.main-window popover arrow,
.main-window popover contents {
  background-color: shade(@background_color_1, 1.2);
  color: @foreground_color;
}

.main-window button:focus,
.main-window row:focus {
  outline-color: alpha(currentColor, .25);
}
